{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="reset-form-container">
    <div class="logo-container">
        Reset Your Password
    </div>

    <form class="form" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.new_password1.id_for_label }}">New Password</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                {% for error in form.new_password1.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                {% for error in form.new_password2.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <button class="form-submit-btn" type="submit">Change Password</button>
    </form>

    <div class="link">
        <a id="back-to-login" href="#">Back to Login</a>
    </div>
</div>

{% endblock %}
