{% extends "base.html" %}
{% load static %}

{% block title %}Update Delivery Details{% endblock %}

{% block content %}
<div class="wrapper">
  <h1>Delivery Details</h1>
  <form method="post" id="delivery-form">
    {% csrf_token %}
    {% for field in form %}
      <div class="input-box">{{ field }}</div>
    {% endfor %}
    <button class="btn" type="submit">Submit</button>
  </form>
  <p class="edit-form fw-semibold">Need to make changes? <a href="{% url 'pending' %}">Edit here</a></p>
</div>
{% endblock %}
